<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot='start'>
            <ion-button (click)='salir()' *ngIf='!editando'>
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot='end'>
            <ion-button color='primary' *ngIf='!editando' (click)='activarEdicion()'>
                <ion-icon name='add-circle'>

                </ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Niveles Academicos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list *ngIf='!editando'>
        <ion-searchbar animated mode="ios" placeholder="Searh" (ionChange)="buscar($event)"></ion-searchbar>
    </ion-list>

    <form (ngSubmit)='addNivelAcademico()' *ngIf='editando'>
        <ion-item>
            <ion-label>Descripcion:</ion-label>
            <ion-input name="descripcion" type="text" [(ngModel)]="newNivelAcademico.descripcion" required clearInput></ion-input>
        </ion-item>

        <ion-button type="submit" color="primary" shape="round">
            Guardar
        </ion-button>
        <ion-button color="danger" shape="round" (click)='desactivarEdicion()'>
            Cancelar
        </ion-button>
    </form>


    <ion-list #cerrarLista *ngFor='let nivelAcademico of nivelesAcademicos | filtro:textoBuscar:"descripcion"'>
        <ion-item-sliding *ngIf='!editando'>

            <ion-item>
                <ion-label text-capitalize>{{nivelAcademico.descripcion}}</ion-label>
            </ion-item>
            <ion-item-options side="end">

                <ion-item-option>
                    <ion-icon slot="icon-only" name="build" (click)='openUpdateCategorie(nivelAcademico._id);'></ion-icon>
                </ion-item-option>

                <ion-item-option color='danger' (click)='openDeleteAlert(nivelAcademico._id);'>
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>

            </ion-item-options>
        </ion-item-sliding>
    </ion-list>






</ion-content>