<ion-header>
    <ion-toolbar>
        <ion-buttons slot='start'>
            <ion-button (click)='salir()'>
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>

            </ion-button>
        </ion-buttons>
        <ion-title>Agregar Categoria</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">
    <form (ngSubmit)='addCategoria()'>
        <ion-item>
            <ion-label>Descripcion:</ion-label>
            <ion-input name="descripcion" type="text" [(ngModel)]="newCategorie.descripcion" required clearInput></ion-input>
        </ion-item>

        <ion-button type="submit" color="primary" expand='block' shape="round">
            Guardar
        </ion-button>
    </form>

</ion-content>