<app-header titulo="diswork" menuAdmin="false" menuEmpresa="false" menuUser="true"></app-header>

<ion-content>
    <ion-list>
        <ion-searchbar animated mode="ios" placeholder="Searh"
                       (ionChange)="buscar($event)"></ion-searchbar>
        <ion-item *ngFor="let dt of empresas | filtro:textoBuscar:'nombre'">
            <ion-thumbnail slot="start">
                <ion-img *ngIf="!empresas.image" src="/assets/avatars/av-2.png"></ion-img>
                <ion-img *ngIf="empresas.image" src="{{url + 'obtener-imagen-empresa/'+empresas.image}}"></ion-img>
            </ion-thumbnail>
            <ion-label>
                <h2>{{dt.nombre}}</h2>
                <p>{{dt.direccion}}</p>
            </ion-label>
            <ion-button *ngIf="!coincidencia(dt._id)" color="danger" (click)="seguirEmpresa(dt._id)" >Seguir</ion-button>
            <ion-button *ngIf="coincidencia(dt._id)" color="danger" (click)="dejarSeguirEmpresa(dt._id)" >Siguiendo</ion-button>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="!empresas">
            <ion-item  *ngFor="let dt of [1,1,1,1,1,1]" class="animated flash slow infinite">
                    <ion-thumbnail slot="start">
                        <ion-skeleton-text style="border-radius: 100%"></ion-skeleton-text>
                    </ion-thumbnail>
                    <ion-col>
                        <ion-label><ion-skeleton-text width="65%"></ion-skeleton-text></ion-label>
                        <ion-label><ion-skeleton-text width="35%"></ion-skeleton-text></ion-label>
                    </ion-col>
                    <ion-skeleton-text width="25%" ></ion-skeleton-text>
            </ion-item>
        </ion-list>

</ion-content>