<app-header titulo="diswork"></app-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-thumbnail slot="start">
                <ion-img src="/assets/avatars/av-2.png"></ion-img>
            </ion-thumbnail>
            <ion-label>Olmeca</ion-label>
            <ion-button color="danger">Seguir</ion-button>
        </ion-item>
        <ion-item>
            <ion-thumbnail slot="start">
                <ion-img src="/assets/avatars/av-3.png"></ion-img>
            </ion-thumbnail>
            <ion-label>Pepsi</ion-label>
            <ion-button color="danger">Seguir</ion-button>
        </ion-item>
        <ion-item>
            <ion-thumbnail slot="start">
                <ion-img src="/assets/avatars/av-4.png"></ion-img>
            </ion-thumbnail>
            <ion-label>Claro</ion-label>
            <ion-button color="danger">Seguir</ion-button>
        </ion-item>
        <ion-item>
            <ion-thumbnail slot="start">
                <ion-img src="/assets/avatars/av-5.png"></ion-img>
            </ion-thumbnail>
            <ion-label>Banco G&T</ion-label>
            <ion-button color="danger">Seguir</ion-button>
        </ion-item>
    </ion-list>

</ion-content>