<ion-header *ngIf="!camara && !archivo && !redactar" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs-user"></ion-back-button>
    </ion-buttons>
    <ion-title>Curriculums Vitae</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  *ngIf="noHayData">
    <ion-row>
      <ion-col>
        <img class="marca-de-agua" src="/assets/diswork-logo2.png">
      </ion-col>
    </ion-row>
    <ion-label class="center" color="medium">
      <h1>No tiene ningún CV.</h1>
    </ion-label>
  </div>

  <!-- CONTENIDO DE CVS -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <div *ngIf="siHayData">    
    <ion-card-header>
      <ion-card-title>Archivos</ion-card-title>
    </ion-card-header>
    <ion-list *ngFor="let dt of cvsPdf">
      <ion-card mode="ios">      
        <ion-card-content>
          <ion-img src="{{url + 'obtener-cv/' + dt}}"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div *ngIf="siHayData">
    <ion-card-header>
      <ion-card-title>Imagenes</ion-card-title>
    </ion-card-header>
    <ion-list *ngFor="let dt of cvsImg">
      <ion-card mode="ios">  
        <ion-card-content>
          <ion-img src="{{url + 'obtener-cv/' + dt}}"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div *ngIf="siHayData">
    <ion-card-header>
      <ion-card-title>Redactados</ion-card-title>
    </ion-card-header>
    <ion-list *ngFor="let dt of cvsRedactado">
      <ion-card mode="ios">    
        <ion-card-content>
          <ion-img src="{{url + 'obtener-cv/' + dt}}"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <!-- Tomar una foto al CV -->
  <br>
  <div *ngIf="camara">
    <ion-row>
      <ion-col size="50px">
        <ion-list>
          <ion-label>
            <h1 style="margin-left: 8px">Título</h1>
          </ion-label>
          <ion-input placeholder="Ingrese un título" name="titulo" type="text" required clearInput></ion-input>
        </ion-list>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="5">
        <ion-button disabled="{{btnCamara}}" (click)="tomarFoto()" expand="full" shape="round">
          <ion-icon  slot="start" name="camera"></ion-icon>CÁMARA
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button disabled="{{btnCamara}}" (click)="escogerFoto()" expand="full" shape="round">
          <ion-icon  slot="start" name="images"></ion-icon>GALERÍA
        </ion-button>
      </ion-col>  
    </ion-row>

    <ion-row>
      <ion-col size="3" *ngFor="let image of tempImages">
        <ion-card>
          <ion-img [src]="image | imageSanitizer"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-fab vertical="bottom" horizontal="start" >
      <ion-row>
        <ion-col size="5">
          <ion-button (click)="cancelarFoto()" expand="full" color="danger" shape="round">Cancelar</ion-button>
        </ion-col>
        <ion-col size="5">
          <ion-button (click)="guardarFoto()" expand="full" shape="round">Guardar</ion-button>
        </ion-col>
      </ion-row>
    </ion-fab>
    
  </div>

  <!---->

  <!-- Subir un archivo de CV -->
  <div *ngIf="archivo">
      <ion-row>
        <ion-col size="50px">
          <ion-list>
            <ion-label>
              <h1 style="margin-left: 8px">Título</h1>
            </ion-label>
            <ion-input placeholder="Ingrese un título" name="titulo" type="text" required clearInput></ion-input>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-item>
              <ion-input name="image" type="file" value="none" (change)="fileChangeEvent($event)"></ion-input>
          </ion-item>
      </ion-row>
      <ion-row>
        <ion-col size="3" *ngFor="let image of tempImages">
          <ion-card>
            <img [src]="image">
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-fab vertical="bottom" horizontal="start" >
        <ion-row>
          <ion-col size="5">
              <ion-button (click)="cancelarArchivo()" expand="full" color="danger" shape="round">Cancelar</ion-button>
            </ion-col>
          <ion-col size="5">
            <ion-button (click)="guardarArchivo()" expand="full" shape="round">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </ion-fab>
      
    </div>
  
    <!---->

    <!-- Redactar el CV -->
  <div *ngIf="redactar">
      <ion-row>
        <ion-col size="50px">
          <ion-list>
            <ion-label>
              <h1 style="margin-left: 8px">Título</h1>
            </ion-label>
            <ion-input placeholder="Ingrese un título" name="titulo" type="text" required clearInput [(ngModel)]="cvRedactado.titulo"></ion-input>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label>
                <h2 style="margin-left: 8px">Nombre</h2>
              </ion-label>
              <ion-input placeholder="Ingrese su nombre" name="nombre" type="text" required clearInput [(ngModel)]="cvRedactado.nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 style="margin-left: 8px">Edad</h2>
              </ion-label>
              <ion-input placeholder="Ingrese su edad" name="edad" type="text" required clearInput [(ngModel)]="cvRedactado.edad"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 style="margin-left: 8px">Correo</h2>
              </ion-label>
              <ion-input placeholder="Ingrese su correo" name="correo" type="text" required clearInput [(ngModel)]="cvRedactado.correo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 style="margin-left: 8px">Telefono</h2>
              </ion-label>
              <ion-input placeholder="Ingrese su telefono" name="telefono" type="text" required clearInput [(ngModel)]="cvRedactado.telefono"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 style="margin-left: 8px">Estudios</h2>
              </ion-label>
              <ion-textarea placeholder="Ingrese información de sus estudios" name="estudio" rows="8" required clearOnEdit="true" [(ngModel)]="cvRedactado.estudio"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 style="margin-left: 8px">Habilidades</h2>
              </ion-label>
              <ion-textarea placeholder="Ingrese información de sus habilidades" name="habilidad" rows="8" required clearOnEdit="true" [(ngModel)]="cvRedactado.habilidad"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 style="margin-left: 8px">Referencias P</h2>
              </ion-label>
              <ion-textarea placeholder="Ingrese sus referencias personales" name="referenciasP" rows="8" required clearOnEdit="true" [(ngModel)]="cvRedactado.referenciasP"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 style="margin-left: 8px">Referencias E</h2>
              </ion-label>
              <ion-textarea placeholder="Ingrese sus referencias empresariales" name="referenciasE" rows="8" required clearOnEdit="true" [(ngModel)]="cvRedactado.referenciasE"></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <div vertical="bottom" horizontal="start" >
        <ion-row>
          <ion-col size="5">
              <ion-button (click)="cancelarCrear()" expand="full" color="danger" shape="round">Cancelar</ion-button>
            </ion-col>
          <ion-col size="5">
            <ion-button  expand="full" shape="round">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </div><br>
      
    </div>
  
    <!---->

    <ion-fab *ngIf="principal" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button color="dark"><ion-icon (click)="crear()" color="light" name="create"></ion-icon></ion-fab-button>
        <ion-fab-button color="dark"><ion-icon (click)="subirFoto()" color="light" name="camera"></ion-icon></ion-fab-button>
        <ion-fab-button color="dark"><ion-icon  (click)="subirArchivo()" color="light" name="attach"></ion-icon></ion-fab-button>
      </ion-fab-list>    
    </ion-fab>


</ion-content>