<app-header titulo="diswork" menuAdmin="false" menuEmpresa="false" menuUser="true"></app-header>

<ion-content class="animated fadeIn" >

    <div *ngIf="publicaciones.length == 0">
        <ion-card *ngFor="let dt of [1,1,1,1,1,1]" class="animated flash slow infinite">
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text style="border-radius: 100%"></ion-skeleton-text>
                </ion-thumbnail>
                <ion-col>
                    <ion-label>
                        <ion-skeleton-text width="65%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text width="35%"></ion-skeleton-text>
                    </ion-label>
                </ion-col>
            </ion-item>
            <ion-card-content>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
            </ion-card-content>    
        </ion-card>
    </div>
    
    <ion-card style="margin-left: 0px;margin-right:0px" *ngFor="let dt of publicaciones[0]" class="animated">
        <ion-item>
            <ion-thumbnail slot="start">
                    <ion-img *ngIf="!dt.empresa.image" src="/assets/avatars/av-8.png"></ion-img>
                    <ion-img *ngIf="dt.empresa.image" src="{{url + 'obtener-imagen-empresa/' + dt.empresa.image}}"></ion-img>
            </ion-thumbnail>
            <ion-col>
                <ion-label text-capitalize>
                    {{dt.titulo}}
                </ion-label>
                <ion-label>
                    {{dt.fechaPublicacion}}
                </ion-label>
            </ion-col>
        </ion-item>
        <ion-card-content>
            <ion-textarea readonly>
                {{dt.descripcion}}
            </ion-textarea>
            <ion-button color="danger" shape="round" (click)="opcionesCv()" slot="end"> 
                CV
            </ion-button>
        </ion-card-content>    
    </ion-card>
</ion-content>  
