<ion-header no-border>
    <ion-toolbar>

        <ion-buttons slot='start'>
            <ion-button (click)='salir()' *ngIf='!editando'>
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot='end'>
            <ion-button color='primary' *ngIf='!editando' (click)='activarEdicion()'>
                <ion-icon name='person-add'>
                </ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Administradores</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf='!editando'>
        <ion-searchbar animated mode="ios" placeholder="Searh" (ionChange)="buscar($event)"></ion-searchbar>
    </ion-list>

    <form (ngSubmit)='addAdmin()' *ngIf='editando'>

        <ion-item>
            <ion-label>Nickname</ion-label>
        </ion-item>
        <ion-item>
            <ion-input name="NickName:" placeholder='usuario' type="text" [(ngModel)]="newAdmin.nickName" required clearInput></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Email</ion-label>
        </ion-item>
        <ion-item>
            <ion-input name="Email:" placeholder='usuario@ejemplo.com' type="text" [(ngModel)]="newAdmin.email" required clearInput></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Password</ion-label>
        </ion-item>
        <ion-item>
            <ion-input name="Password:" placeholder='Password' type="password" [(ngModel)]="newAdmin.password" required clearInput></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Telefono</ion-label>
        </ion-item>
        <ion-item>
            <ion-input name="NickName:" placeholder='00000000' type="text" [(ngModel)]="newAdmin.telefono" required clearInput></ion-input>
        </ion-item>

        <ion-row>
            <ion-col text-center>
                <ion-button type="submit" color="primary" shape="round">
                    Guardar
                </ion-button>
                <ion-button color="danger" shape="round" (click)='desactivarEdicion()'>
                    Cancelar
                </ion-button>
            </ion-col>
        </ion-row>


    </form>




    <ion-list #cerrarLista *ngFor="let admin of admins | filtro:textoBuscar:'nickName'">
        <ion-item-sliding *ngIf='!editando'>

            <ion-item>
                <ion-thumbnail style="margin-right: 10px">
                    <ion-img *ngIf="!admin.image" style="border-radius: 100%" src="/assets/avatars/av-1.png" class="img-avatar">
                    </ion-img>
                    <ion-img *ngIf="admin.image" style="border-radius: 100%" src="{{url + 'obtener-imagen-admin/'+admin.image}}" class="img-avatar"></ion-img>

                </ion-thumbnail>

                <ion-label>
                    <h2>{{admin.nickName}}</h2>
                    <p>{{admin.email}}</p>
                </ion-label>

            </ion-item>
            <ion-item-options side="end">

                <ion-item-option color='danger' (click)='openDeleteAlert(admin._id);'>
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>


    <div *ngIf="mensaje && !editando">
        <ion-row>
            <ion-col text-center>
                <br>
                <ion-label style="color : gray">No existen categorias.</ion-label>
            </ion-col>
            <ion-row>
                <ion-col>
                    <img class="marca-de-agua" src="/assets/diswork-logo2.png">
                </ion-col>
            </ion-row>
        </ion-row>
    </div>



</ion-content>